{% extends 'hash1.html' %}


{% block MediaTitle %} {{media.title}} {% endblock MediaTitle %}

{% block HashVal %} {{hash}} {% endblock HashVal %}

{% block MediaName %}{{ media.hash_name}}{% endblock MediaName %}

{% block description %} {{media.description|safe}} {% endblock description %}
    
 
 {% block script %}
    <script>
        const textArea = document.getElementById('myTextarea');
        const submitButton = document.getElementById('submitButton');
        textArea.addEventListener('input', function() {
            if (textArea.value.length >= 1) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        });


    </script>
    
 {% endblock script %}
       
    
    